div.img-container{
    position: relative;
}
div.img-container img{
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
}
#btnHorizontal:hover{
    background-color: rebeccapurple;
}
#btnverticla:hover{
    background-color: yellowgreen;
}
#btnRandom:hover{
    background-color: burlywood;
}
#btnGrid:hover{
    background-color: goldenrod;
}
div button{
    font-size: 15pt;
    font-weight: 700;
    margin-bottom: 10px;
}