*{
    margin: 0;
    padding: 0;
}
#contents{
    width: 800px;
    height: 200px;
    border: 5px solid blue;
    margin: 30px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}