body{
    font-size: 15px;
}
#wrap{
    margin: 50px;
}
#info{
    width: 600px;
    height: 50px;
    border: 5px solid blue;
}
#panel{
    position: relative;
    width: 600px;
    height: 400px;
    border: 5px solid blueviolet;
    margin-top: 10px;
}
#fish{
    position: absolute;
    left: 50px;
    top: 120px;
}