*{
    margin: 0;
    padding: 0;
}
#parent{
    position: absolute;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    left: 50px;
    top: 100px;
}
#child{
    position: absolute;
    padding: 20px;
    border: 30px solid black;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 100px;
    background-color: gray;
}